# -------------------------------
# ❗ Miscellaneous
# -------------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# -------------------------------
# 💡 IDEs & Editors
# -------------------------------

# IntelliJ / Android Studio
*.iml
.idea/

# VSCode
.vscode/

# -------------------------------
# 🐦 Flutter & Dart
# -------------------------------
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# -------------------------------
# 🤖 Android
# -------------------------------
android/app/debug/
android/app/profile/
android/app/release/

# -------------------------------
# 🍏 iOS
# -------------------------------
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/*.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# -------------------------------
# 🎯 Dart Obfuscation & Symbolication
# -------------------------------
app.*.symbols
app.*.map.json
